body{
    background-color:rgb(217, 235, 245);
}
header{
    margin-bottom: 35px;
}
.nav  li{
    float: left;
    display: flex;
    margin: 10px;
    margin-top: 0;
    background-color: #23a538;
    padding: 5px;
    margin-bottom: 18px;
}
.nav li:hover{
    box-shadow: 5px 3px 5px;
    border-radius: 10px;
}
.nav li a {
    color: white;
    font-size: 27px;
}
.spe{
    font-size: 40px;
    padding: 5px;
    background-color:#f4930aa1;
    margin: 35px;
    width: 210px;
}
.specia{
    margin-top: 35px;
}
.specia h2{
    background-color:#f4930a;
    display: inline;
    font-size: 27px;
    color: white;
    font-weight: 0px;
    padding: 3px;
    margin-left: 240px;
    box-shadow: 1px 4px 6px #0068b2;
}
.for-center{
    text-align: center;
}
.paragraphe p{
    width: 500px;
    margin-left: 240px;
    font-size: 20px;
}
.img{
    width: 450px;
    height: 00x;
    margin-top: 28px;
    margin-left: 15px;
}
.paragraphe{
display: flex;
border-top: 3px solid #0068b29d;

}

